<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">ResidentId</span>
              <input type="text" placeholder="Username" ng-model="Login.residentID">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="Password" ng-model="Login.password">
            </label>
          </div>
          <button class="button button-block button-positive" ng-click="Login.login();">
            Login
          </button>
    </ion-content>
  </ion-view>