<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
<style>
.custom {
  background-color: #4a4063 !important; /* This sets the background color*/
 }

/*Set the background to transparent for ion-item*/
.custom .item {
  
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: #c8c6d7;    /*Text color for each item*/
}

.custom .item:hover{
  color: white;
}
.custom .item:active{
  color: white;
}
/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: red;  /*Text color for each item, overrides the color property above*/
}

</style>

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
  
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
  
    <ion-side-menu side="left">
      <ion-header-bar class="bar-stable" style="background-color: #7973ba;">
        <h1 class="title" style="color: white; font-family: 'Lato', sans-serif;"><b>Hello User</b></h1>
      </ion-header-bar>
      <ion-content ion-content class="custom">
        <ion-list>
          <ion-item menu-close ng-click="Menu.home()">
            Home
          </ion-item>
          <ion-item menu-close ng-click="Menu.exchange()">
            Exchange
          </ion-item>
          <ion-item menu-close ng-click="Menu.transactions()">
            Transactions
          </ion-item>
          <ion-item menu-close ng-click="Menu.logout()">
            Logout
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
  