
<ion-view view-title="Exchange" name="exchange-view">
    <ion-content class="padding">
    	
<div class="list card">

  <div class="item item-avatar">
    <img src="assets/img/exchange.png"/>
    <h2>Would you like to exchange </h2>
    <button class="button button-small button-dark"  ng-click="exchange.showfield()">
        Coins to Cash
    </button>
    <p>Rate: 1 coin = Rs. 10</p>

  <div class="list" ng-show="exchange.flag" class="ng-hide">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text"  style="background-color: white;" placeholder="Entet the Coins" ng-model="exchange.noOfCoins">
    </label>
    <button class="button button-small button-balanced" ng-click="exchange.exchangeCoinsTOCash();"><i class="icon ion-checkmark-circled" ></i>
    </button>
  </div>
  </div>
</div>
</div>

<div class="list card">

  <div class="item item-avatar">
    <img src="assets/img/exchange.png"/>
    <h2>Would you like to exchange </h2>
    <button class="button button-small button-dark"  ng-click="exchange.showfield1()">
        Cash to Coins
    </button>
    <p>Rate: 1 coin = Rs. 10</p>

  <div class="list" ng-show="exchange.flag1" class="ng-hide">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Entet the Cash" ng-model="exchange.noOfCash">
    </label>
    <button class="button button-small button-balanced" ng-click="exchange.exchangeCashToCoins();"><i class="icon ion-checkmark-circled" ></i>
    </button>
  </div>
  </div>
</div>
</div>

	</ion-content>
</ion-view>