<ion-view view-title="All Transactions">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="transaction.doRefresh()"></ion-refresher>
    <div class="card">
      <div class="item">
      <h3> <i class="icon ion-locked"></i> &nbsp;&nbsp; <b>Energy to Coins</b></h3>
    </div>
    </div>
    <div ng-repeat="row in transaction.info">
      <div class="card x" ng-click="transaction.single1(row.transactionId)">
        <div class="item item-text-wrap">
          <b>  Transaction Id:</b> {{row.transactionId}} <br>
          <b>Time:</b> {{row.timestamp | time}}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item">
      <h3> <i class="icon ion-locked"></i> &nbsp;&nbsp; <b>Cash to Coins</b></h3>
    </div>
  </div>
    <div ng-repeat="row in transaction.info2">
      <div class="card x" ng-click="transaction.single2(row.transactionId)">
        <div class="item item-text-wrap">
          <b>  Transaction Id:</b> {{row.transactionId}} <br>
          <b>Time:</b> {{row.timestamp | time}}
        </div>
      </div>

    </div>


  </ion-content>

</ion-view>