<ion-view view-title="Transaction" cache-view="false">
  <ion-content>

    <div class="list">
      <div class="item item-divider item-text-wrap">
        <b>TransactionId</b> {{singleTransaction.data.transactionId}}
      </div>
      <a class="item" href="#" ng-if="!singleTransaction.data.status">
      <div class="row">
        <div class="col col-50">
    		Transaction Type </div>
        <div class="col col-50">:&nbsp;{{singleTransaction.TransactionType}}</div>
      </div>
      </a>

      <a class="item" href="#" ng-if="!singleTransaction.data.status">
    	<div class="row">
        <div class="col col-50">
        Energy	</div>
        <div class="col col-50">:&nbsp;{{singleTransaction.energyStatement}}</div>
      </div>
 	 	  </a>
      <a class="item" href="#" ng-if="singleTransaction.data.status">
      <div class="row">
        <div class="col col-50">Cash</div>
        <div class="col col-50">
     	:&nbsp;{{singleTransaction.CashStatement}}
      </div></div>
      </a>
      <a class="item" href="#">
      <div class="row">
        <div class="col col-50">
        Coins</div>
        <div class="col col-50">:&nbsp;{{singleTransaction.coinsStatement}}
        </div>
      </div>
 	 	</a>
    <a class="item" href="#">
      <div class="row">
    	<div class="col col-50">
         TimeStamp</div> <div class="col col-50 item-text-wrap">
         :&nbsp;{{singleTransaction.timestamp}}</div>
      </div>
 	 	</a>
    </div>
  </ion-content>

</ion-view>