<ion-view view-title="Home" name="home-view" cache-view="false">
  <ion-content class="padding">
     <ion-refresher pulling-text="Pull to refresh" on-refresh="home.doRefresh()"></ion-refresher>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-30"><b>Name :</b></div>
          <div class="col"> {{home.data.firstName}} {{home.data.lastName}}</div>
        </div>
        <div class="row">
          <div class="col col-30"><b>ResidentId : </b></div>
          <div class="col">{{home.data.residentID}}</div>
        </div>
        <div class="row">
          <div class="col col-30"><b>Address</b></div>
          <div class="col"> 21B, Baker Street, Rajasthan</div>
        </div>
      </div>
    </div>


    <div class="list card">
      <div class="item item-avatar">
        <img src="assets/img/electrocoins.jpg">
        <h2><b>Electrocoins </b></h2>
        <h2>{{home.coins.value}}</h2>
      </div>

      <div class="item item-avatar">
        <img src="assets/img/rs.png">
        <h2><b> Cash (Rs)</b></h2>
        <h2> {{home.cash.value}} </h2>
      </div>

      <div class="item item-avatar">
        <img src="assets/img/energy.jpg">
        <h2><b>Excess Energy</b></h2>
        <h2>{{home.energy.value | number: 2}}</h2>
      </div>

    </div>
    <center>
      <button class="button button-large button-positive" ng-click="home.gotoTradeEnergy();">
  <b>Trade Energy</b>
</button>
    </center>
    </button>

  </ion-content>
</ion-view>