<ion-view view-title="Trade Energy" name="trade-view">
  <ion-content class="padding">
    <div class="list">
      <h4>How much Energy would you like to purchase?</h4>
      <label class="item item-input item-floating-label">
            <input type="text" ng-model="tradeEnergy.power" placeholder="Your need in KWh">
          </label>
    </div>
    <div>
      <center><button class="button button-positive" ng-click="tradeEnergy.searchForTraders()">
               <i class="icon ion-search"></i> &nbsp;&nbsp;Look for Traders
          </button></center>

    </div>
    <br><br>
    <ul class="list">
      <li class="item list_header" style="background-color: #e6e8ed">
        <div class="row ">
          <div class="col col-40">Seller-ID</div>
          <div class="col col-40">Energy (KWh)</div>
          <div class="col col-20"></div>

        </div>
      </li>
      <li class="item" ng-repeat="row in tradeEnergy.traders track by $index" ng-click="transaction.showdetails(row)">
        <div class="row row_height">
          <div class="col col-40 col_width">{{ row.ownerID}}</div>
          <div class="col col-40 col_width"> {{row.value}}
          </div>
          <div class="col col-20 col_width">
            <button ng-click="tradeEnergy.buy(row.ownerID)" class="button button-calm button-small button-outline"> &nbsp;&nbsp;&nbsp;Buy&nbsp;&nbsp;&nbsp; </button>
          </div>
        </div>
      </li>
    </ul>

  </ion-content>
</ion-view>