<ion-view view-title="Search Patients">
        <search-bar ng-model="search"></search-bar>
       
        <ion-content>
          <ul class="list">
            <li class="item" ng-repeat="row in data track by $index" ng-click="transaction.showdetails(row)">
              {{row.id}}
            </li>
          </ul>
        </ion-content>
      
      </ion-view>
      